*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #0D3B66;
}
.display{

    background-color: #ffffff;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    flex-direction: column;
    border-radius: 10px;
    position: relative;

}

.passado{

   color: #555555;

}

.operacao{

    font-size: 20px;
    color: #555555;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);



}
.container_calc{
   
    width: 300px;
    height: 400px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 119, 255);
    border-radius: 20px;
    background-color: #092B5A;
}

.calculadora {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    
}

.butoes {
    
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 80%;
    padding-top: 10px;
    gap: 20px; 
    
}

.numeros, .operadores, .virgula{
    
    width: 100%; 
    height: 100%;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculadora  button{

    width: 50px;
    height: 50px;
    box-shadow: #000000 2px 2px 5px;
    

}

.numeros{
    background-color: #E7D9B4;
}

.operadores{
    background-color: #09738A;
}

.part_num{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: auto;
    margin-right: 0 auto;
}

#limpartudo{

    color: #0eb8df;

}
#igual{

    background-color: #0AA1C0;

}               


#vazio{
    visibility: hidden;

}

.part_oper{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

button:hover{

    box-shadow: #0eb8df 2px 2px 5px;
    
}

button:active{

    transform: scale(0.95);
    background-color: #0eb8df;
    color: #ffffff;
}
